.quantity-input-wrapper {
  width: 40%;
  input {
    text-align: center;
  }
}
@media screen and (max-width: 660px) {
  .quantity-input-wrapper {
    width: 20%;
    input {
      padding: 0 !important;
    }
  }
}
