<div class="bg"></div>
<header>
  <a href="#">Shopping App</a>
</header>
<main>
  <section id="card">
    <ul>
      <li>
        <span></span>
        <strong>Simple and Easy to manage.</strong>
      </li>
      <li>
        <span></span>
        <strong>Create Multiple Shopping lists.</strong>
      </li>
      <li>
        <span></span>
        <strong>Access from from your phone too.</strong>
      </li>
    </ul>
  </section>
  <section id="primary">
    <h1>Shopping List Application</h1>
    <p>Get help with your daily life stuff.</p>
    <a [routerLink]="'shopping-list'">Get Started</a>
  </section>
</main>
